@import '../../../styles/base.module.scss';
.title{
    font-size: xx-large;
    margin-bottom: 30px;
}
.inputWrapper{
    padding: 20px 0;
}

.inputError{
    color: red;
}
.login{
    margin: 10px 0 30px 0;
    .link{
        text-decoration: none;
        color: $secondary;
        font-weight: bolder;
    }
}
.submitButton{
    border: 1px solid #bbb;
    padding: 5px;
    border-radius: 5px;
}