.register{
    height: max-content;
    width: 400px;
    margin-top: 50px;
}
.inputWrapper{
    padding: 15px 0;
}

.inputError{
    color: red;
}
.submitButton{
    border: 1px solid #bbb;
    padding: 5px;
    border-radius: 5px;
}