
.inputWrapper{
    padding: 10px 0;
}
.input{
    border: 1px solid #bbb;
    border-radius: 4px;
    display: block;
}
.submitButton{
    border: 1px solid #bbb;
    padding: 5px;
    border-radius: 5px;
}