@import '../../../styles/base.module.scss';
.jobsContainer{
	margin: 20px;
}
.content{
	flex: 2;
	margin-right:10px;
}
.jobsSection{
	padding: 20px;
	flex: 1;
}
.jobBox{
	border-radius: 7px;
	background-color: $gray-lightest;
	color: $gray;
	flex: 0 0 22%;
	.company{
		display: flex;
		margin-bottom: 15px;
		
	}
}

