@import './base.module.scss';
.myAds{
    width: 700px;
    margin: auto;
}
.ad{
    padding: 20px;
    border: 1px solid $gray;
    margin-bottom: 20px;
    position: relative;
}
.adIcon{
    font-size: 50px;
}
.completePostingAd{
    text-decoration: none;
    color: $primary;
    position: absolute;
    bottom: 20px;
    right: 20px;
}