@import '../../base/base.module.scss';
.topBox{
    padding: 40px;
    width: 90%;
    margin: auto;
}
.topBoxTitle{
    font-size: 25px;
    margin-bottom: 20px;
}
.topBoxViewMore{
    color: $primary;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.rentalBox{
    cursor: pointer;
    filter: brightness(95%);
    flex: 1;
    &:hover{
        filter: brightness(100%);
    }
}
.rentalBoxImage{
    height: 250px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px 0;
}
.rentalBoxText{
    padding: 15px;
}
.rentalBoxTitle{
    width: 230px;
    line-height: 1.2;
}
.rentalBoxRent{
    font-weight: 600;
    color: $primary;
}