@import '../../../base/base.module.scss';
.createJob{
    opacity: 1;
    width: 460px;
    padding: 20px;
}
.createJobTitle{
    color: $primary;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.inputBox{
    margin-bottom: 15px;
}
.input{
    border: 1px solid #bbb;
    display: block;
    border-radius: 4px;
    width: 400px;
    padding: 5px;
}
.inputError{
    color: red;
}
.actionButton{
    width: max-content;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    display: inline;
}
.cancelButton{
    border: 1px solid $primary;
    color: $primary;
    margin-right: 10px;
}
.submitButton{
    background-color: $primary;
    color: white;
}