@import '../../../../styles/base.module.scss';
.postAd{
    width: 40%;
    margin: 50px auto;
}
.navBarLogo{
	background: url('https://res.cloudinary.com/dtqxwjmwn/image/upload/v1674412883/GlobalAid/GlobalAid_Logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 60px;
}
.adType{
    border: 1px solid $gray-light;
    display: flex;
    align-items: center;
    padding: 25px;
    cursor: pointer;
    font-size: 16px;
    span{
        margin-left: 3px;
    }
}
.activeAdType{
    border-color: $primary;
    color: $primary;
}