.imageWrapper{
	position: relative;
	width: 350px;
	height: 300px;
}
.image{
	width: inherit;
	height: inherit;
	filter: brightness(90%);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.imageHandle{
	width: inherit;
	height: inherit;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.imageHandleIconWrapper{
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.imageHandleIcon{
	height: 40px;
	width: 40px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}