.modalBackground{
    background-color: black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    opacity: 0.4;
    z-index: 1;
}
.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.modalBody{
    background-color: white;
    height: max-content;
    width: max-content;
    z-index: 2;
    padding: 20px;
    border: 1px solid #bbb;
    border-radius: 5px;
}