@import '../../base/base.module.scss';

.postRental{
    width: 500px;
    z-index: 1;
}
.title{
    color: $primary;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.inputBox{
    margin-bottom: 15px;
    select {
        padding: 5px;
        border: 1px solid #bbb;
        
    }
}
.input{
    border: 1px solid #bbb;
    display: block;
    border-radius: 4px;
    width: 400px;
    padding: 5px;
}
input[type=number]{
    display: inline;
    width: 40px;
    margin-left: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
.inputError{
    color: red;
}
.actions{
    display: flex;
    margin-top: 10px;
    position: relative
}
.actionButton{
    width: max-content;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
.continueButton{
    color: green;    
    border: 1px solid green;
}
.cancelButton{
    border: 1px solid $primary;
    margin-right: 20px;
    position: relative;
}
.confirmCancel{
    border: 1px solid #bbb;
    padding: 10px;
    z-index: 2;
    position: absolute;
    background-color: white;
    top: -120px;
    left: -5px;
    width: 300px;
    height: max-content;
    border: 1px solid #bbb;
}
.closeIcon{
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    margin-bottom: 4px;;
}
.confirmCancelButton{
    color: white;    
    background-color: red;
    margin-right: 10px;
}
.postButton{
    background-color: $primary;
    color: white;
}
