@import '../../base/base.module.scss';

.postRental{
    width: 500px;
    z-index: 1;
}
.title{
    color: $primary;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.inputBox{
    margin-bottom: 15px;
}
.input{
    border: 1px solid #bbb;
    display: block;
    border-radius: 4px;
    width: 400px;
    padding: 5px;
}

.inputError{
    color: red;
}
.actions{
    display: flex;
    margin-top: 10px;
    position: relative
}

.continueButton{
    color: green;    
    border: 1px solid green;
}
.cancelButton{
    border: 1px solid $primary;
    margin-right: 20px;
    position: relative;
}
.confirmCancel{
    border: 1px solid #bbb;
    padding: 10px;
    z-index: 2;
    position: absolute;
    background-color: white;
    top: -120px;
    left: -5px;
    width: 300px;
    height: max-content;
    border: 1px solid #bbb;
}

